In [ ]:
#10 Challenges for Practice
#Challenge1. Load the dataset and display the first 10 rows.
import pandas as pd

In [19]:
df=pd.read_csv(r"D:\Pandas-df\Global-Superstore.csv")
df
df.head()

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,7/31/2012,7/31/2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,02-05-2013,02-07-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,10/17/2013,10/18/2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,1/28/2013,1/30/2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,11-05-2013,11-06-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical

In [6]:
import pandas as pd

In [20]:
df.head(10)

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,City,State,...,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit,Shipping Cost,Order Priority
0,32298,CA-2012-124891,7/31/2012,7/31/2012,Same Day,RH-19495,Rick Hansen,Consumer,New York City,New York,...,TEC-AC-10003033,Technology,Accessories,Plantronics CS510 - Over-the-Head monaural Wir...,2309.650,7,0.0,762.1845,933.57,Critical
1,26341,IN-2013-77878,02-05-2013,02-07-2013,Second Class,JR-16210,Justin Ritter,Corporate,Wollongong,New South Wales,...,FUR-CH-10003950,Furniture,Chairs,"Novimex Executive Leather Armchair, Black",3709.395,9,0.1,-288.7650,923.63,Critical
2,25330,IN-2013-71249,10/17/2013,10/18/2013,First Class,CR-12730,Craig Reiter,Consumer,Brisbane,Queensland,...,TEC-PH-10004664,Technology,Phones,"Nokia Smart Phone, with Caller ID",5175.171,9,0.1,919.9710,915.49,Medium
3,13524,ES-2013-1579342,1/28/2013,1/30/2013,First Class,KM-16375,Katherine Murray,Home Office,Berlin,Berlin,...,TEC-PH-10004583,Technology,Phones,"Motorola Smart Phone, Cordless",2892.510,5,0.1,-96.5400,910.16,Medium
4,47221,SG-2013-4320,11-05-2013,11-06-2013,Same Day,RH-9495,Rick Hansen,Consumer,Dakar,Dakar,...,TEC-SHA-10000501,Technology,Copiers,"Sharp Wireless Fax, High-Speed",2832.960,8,0.0,311.5200,903.04,Critical
5,22732,IN-2013-42360,6/28/2013,07-01-2013,Second Class,JM-15655,Jim Mitchum,Corporate,Sydney,New South Wales,...,TEC-PH-10000030,Technology,Phones,"Samsung Smart Phone, with Caller ID",2862.675,5,0.1,763.2750,897.35,Critical
6,30570,IN-2011-81826,11-07-2011,11-09-2011,First Class,TS-21340,Toby Swindell,Consumer,Porirua,Wellington,...,FUR-CH-10004050,Furniture,Chairs,"Novimex Executive Leather Armchair, Adjustable",1822.080,4,0.0,564.8400,894.77,Critical
7,31192,IN-2012-86369,4/14/2012,4/18/2012,Standard Class,MB-18085,Mick Brown,Consumer,Hamilton,Waikato,...,FUR-TA-10002958,Furniture,Tables,"Chromcraft Conference Table, Fully Assembled",5244.840,6,0.0,996.4800,878.38,High
8,40155,CA-2014-135909,10/14/2014,10/21/2014,Standard Class,JW-15220,Jane Waco,Corporate,Sacramento,California,...,OFF-BI-10003527,Office Supplies,Binders,Fellowes PB500 Electric Punch Plastic Comb Bin...,5083.960,5,0.2,1906.4850,867.69,Low
9,40936,CA-2012-116638,1/28/2012,1/31/2012,Second Class,JH-15985,Joseph Holt,Consumer,Concord,North Carolina,...,FUR-TA-10000198,Furniture,Tables,Chromcraft Bull-Nose Wood Oval Conference Tabl...,4297.644,13,0.4,-1862.3124,865.74,Critical

In [6]:
#Challenge 2: Print the total number of rows and columns.

In [21]:
df.shape

(51290, 24)

In [1]:
#Challenge 3. Show all column names in the dataset.

In [22]:
df.columns

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'City', 'State', 'Country',
       'Postal Code', 'Market', 'Region', 'Product ID', 'Category',
       'Sub-Category', 'Product Name', 'Sales', 'Quantity', 'Discount',
       'Profit', 'Shipping Cost', 'Order Priority'],
      dtype='object')

In [10]:
#4. Display only the Order ID, Customer Name, and Sales columns.

In [15]:
print(['Order ID', 'Customer Name', 'Sales']) #this is wrong as its simply a print statement working.

['Order ID', 'Customer Name', 'Sales']

In [13]:
# df.loc[row_selection, column_selection]
# row_selection â†’ Which rows you want (by label or condition)
# column_selection â†’ Which columns you want (by name)
# df â†’ your dataset
# .loc[:, [...]] â†’ select all rows (:) and the specified columns.. .loc is label based indexer, super useful when you want to pick rows and columns by name instead of by number.
# df.loc[df['Sales'] > 100, ['Order ID', 'Sales']]- Only rows where Sales > 100 & Show Order ID and Sales columns

In [23]:
df.loc[:,['Order ID', 'Customer Name', 'Sales']]

              Order ID     Customer Name     Sales
0       CA-2012-124891       Rick Hansen  2309.650
1        IN-2013-77878     Justin Ritter  3709.395
2        IN-2013-71249      Craig Reiter  5175.171
3      ES-2013-1579342  Katherine Murray  2892.510
4         SG-2013-4320       Rick Hansen  2832.960
...                ...               ...       ...
51285    IN-2014-62366   Katrina Edelman    65.100
51286   US-2014-102288  Zuschuss Carroll     0.444
51287   US-2013-155768    Laurel Beltran    22.920
51288   MX-2012-140767        Ross Baird    13.440
51289   MX-2012-134460     Mick Crebagga    61.380

[51290 rows x 3 columns]

In [ ]:
#5. Find the maximum and minimum values of Profit.

In [25]:
max_profit=df['Profit'].max()
print("Maximum profit: ",max_profit)

Maximum profit:  8399.976

In [26]:
min_profit=df['Profit'].min()
print("Minimum profit: ", min_profit)

Minimum profit:  -6599.978

In [ ]:
#6. Count how many unique Categories exist.

In [27]:
unique_categories = df['Category'].nunique()
print("Number of unique Categories:", unique_categories)

Number of unique Categories: 3

In [29]:
#7. Count how many unique Countries exist in the dataset.
unique_countries = df['Country'].nunique()
print("Number of unique Countries:", unique_countries)

Number of unique Countries: 147

In [33]:
#8. Show the top 5 highest Sales values.
high_sales=df['Sales'].nlargest(5)
print("top 5 Highest sales values: ",high_sales)

top 5 Highest sales values:  12887    22638.480
329      17499.950
14843    13999.960
7399     11199.968
290      10499.970
Name: Sales, dtype: float64

In [34]:
#9. Calculate the average Discount.
avg_discount=df['Discount'].mean()
print("Avg discount: ",avg_discount)

Avg discount:  0.14290754533047378

In [38]:
#Count how many orders were shipped with Ship Mode = "First Class"
count=df[df['Ship Mode']=='First Class'].shape[0]
print("Number of orders with First Class shipping:", count)

Number of orders with First Class shipping: 7505

In [ ]:
# Explanation:

# df['Ship Mode'] == 'First Class' â†’ creates a True/False mask for rows

# df[...] â†’ filters only those rows

# .shape[0] â†’ counts the number of rows (i.e., number of orders)

In [37]:
# Count orders for all Ship Modes
ship_counts = df['Ship Mode'].value_counts()
print(ship_counts)

Ship Mode
Standard Class    30775
Second Class      10309
First Class        7505
Same Day           2701
Name: count, dtype: int64

In [39]:
#value_counts() is very handy when you want counts of all categories in a column, including Ship Mode.